{% extends 'accounts/base.html' %}

{% block title %} {{ product.name }} {% endblock %}

{% block content %}
<style>
    hr{
        margin: 3px;
    }
</style>
<div class="container py-4">
    <div>
        <div class="mb-3">
            <h3> {{ product.name }}</h3>
            {% if user.is_superuser %}
            <a href="{% url 'edit-details' product.id %}" class="btn btn-sm btn-primary rounded-pill d-inline-flex align-items-center shadow-sm add-product-btn" data-bs-toggle="tooltip" title="Edit Details" style="font-size: 18px;">
                <span class="me-2 fw-bold" aria-hidden="true">✏️</span>
                <span>Edit Details</span>
            </a>
            <a href="{% url 'delete' product.id %}" class="btn btn-sm btn-danger rounded-pill d-inline-flex align-items-center shadow-sm add-product-btn" data-bs-toggle="tooltip" title="Delete Product" style="font-size: 18px;">
                <span class="me-2 fw-bold" aria-hidden="true">🗑️</span>
                <span>Delete Product</span>
            </a>
            {% endif %}
        </div>
        <div style="display: grid; grid-template-columns: 1fr 3fr;">
            <div class="container-fluid p-3 my-3 border">
                <img src="{{ product.photo.url }}" alt="{{ product.name }}" class="img-fluid">
            </div>
            {% if info == 'exist' %}
                <div class="container-fluid p-3 my-3 border">
                    <span><b>Model: </b>{{ phoneinfo.product.name }}</span><hr>
                    <span><b>RAM: </b>{{ phoneinfo.ram }} GB</span><hr>
                    <span><b>Storage: </b>{{ phoneinfo.storage }} GB</span><hr>
                    <span><b>Display Type: </b>{{ phoneinfo.screen_type }}</span><hr>
                    <span><b>Display Size: </b>{{ phoneinfo.screen_size }} inches</span><hr>
                    <span><b>Display Resolution: </b>{{ phoneinfo.screen_resolution }}</span><hr>
                    <span><b>Battery: </b>{{ phoneinfo.battery }} mAh</span><hr>
                    <span><b>Camera: </b>{{ phoneinfo.camera }}MP</span><hr>
                    
                </div>
            {% endif %}
        </div>
        <div class="container-fluid p-3 my-3 border">
            <div class="container">
                <p><b>Description: </b>{{ product.description }}</p><hr>
                <span><b>Price: </b>{{ product.price }} ETB</span><hr>
                <span><b>Collection: </b> {{ product.collection }}</span><hr>
                <span><b>Sell Status: </b> {% if product.sold_status %}sold{% else %}Not sold{% endif %}</span><hr>
                <span><b>Uploaded: </b> {{ product.pre_date | timesince }} ago</span><hr>
                <form action="" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-primary" ><b>{{ product.likes.count }}👍</b> </button>
                </form>
                <span><b>{{ product.views.count }}👁️: </b></span>
                <hr>
            </div>
            
        </div>
    </div>
</div>
{% endblock %}